@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5e6989;
  --secondary-color: #000;
}

input {
  @apply text-black;
}

img {
  @apply size-3.5;
}

button {
  @apply outline-none border rounded-md;

  p {
    @apply ml-1;
  }
}

.primary {
  @apply py-2 px-6 text-white flex items-center bg-primary-color;
}

.secondary {
  @apply flex justify-center items-center border-primary-color;

  & {
    transition: all 0.3s;
  }

  &:hover {
    -webkit-box-shadow: -1px 0px 25px -10px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: -1px 0px 25px -10px rgba(0, 0, 0, 0.66);
    box-shadow: -1px 0px 25px -10px rgba(0, 0, 0, 0.66);
  }

  img {
    filter: brightness(0%);
    @apply size-10;
  }
}

header {
  @apply container mx-auto flex justify-between items-center mt-8;
}

h3 {
  @apply font-bold text-2xl;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5%;
  margin-top: 5%;

  span {
    display: block;
    margin-bottom: 2px;

    &::after {
      display: block;
      content: "";
      background-color: #000000;
      width: 4px;
      height: 4px;
      border-radius: 50%;
    }
  }
}

.desks {
  @apply container mx-auto mt-28 grid grid-cols-4 gap-20;
}

.desk-block {
  position: relative;
  @apply border rounded-md bg-violet-300 border-primary-color
    cursor-pointer;

  & {
    transition: all 0.3s;
  }

  &:hover {
    -webkit-box-shadow: -1px 0px 25px -10px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: -1px 0px 25px -10px rgba(0, 0, 0, 0.66);
    box-shadow: -1px 0px 25px -10px rgba(0, 0, 0, 0.66);
  }
}

.desk-element {
  @apply font-bold py-20 flex justify-center;
}

.desk-name {
  @apply text-2xl text-center;
}

.desk {
  @apply container mx-auto flex mt-7;
}

.create-list {
  @apply bg-white h-20;
  flex: none;
  margin-right: 30px;

  img {
    filter: brightness(0%);
    @apply size-10;
  }
}

.list {
  width: 15vw;
  &:not(:last-of-type) {
    margin-right: 30px;
  }
}

.list-element {
  position: relative;
  width: 100%;
  @apply bg-primary-color rounded-md flex items-center justify-center py-3;

  .actions {
    position: absolute;
    right: 5px;
    top: 5px;
    @apply mt-0 mr-0;

    span {
      &:after {
        background-color: #fff;
      }
    }
  }
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.list-details {
  @apply flex justify-between text-white;
}

.list-amount {
}

.list-name {
  @apply mr-4 flex-none;
}

.create-task {
  width: 100%;
  @apply bg-white flex justify-center mt-1 py-3;

  img {
    filter: brightness(0%);
  }
}

.task__block {
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
  @apply flex flex-col rounded border border-primary-color
    p-4;

  &:first-child {
    @apply mt-4;
  }

  &:not(:last-child) {
    @apply mb-4;
  }

  &:hover {
    -webkit-box-shadow: -1px 0px 25px -10px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: -1px 0px 25px -10px rgba(0, 0, 0, 0.66);
    box-shadow: -1px 0px 25px -10px rgba(0, 0, 0, 0.66);
  }
}

.task__name-block {
  @apply flex justify-between items-center font-bold;

  .actions {
    @apply mt-0 mr-0;
  }
}

.task__description {
  @apply text-slate-500 mt-2;
}

.task__date-block,
.task__priority-block {
  @apply flex items-center;

  img {
    @apply brightness-0;
  }

  p {
    @apply ml-3 text-slate-600;
  }
}

.task__priority-block {
  width: 50%;
  @apply bg-slate-300 rounded-xl pl-3 mt-2;

  .low {
    width: 10px;
    height: 10px;
    @apply bg-slate-400 rounded-xl;
  }

  .medium {
    @apply bg-slate-500 rounded-xl;
  }

  .high {
    @apply bg-slate-600 rounded-xl;
  }
}

.task__move {
  position: relative;
  cursor: pointer;
  @apply mt-2 bg-slate-300 rounded-md py-2 px-3;
}

.task__move-list {
  z-index: 2;
  position: absolute;
  top: 74%;
  width: 100%;
  left: 0;
  @apply bg-slate-300 rounded-md py-4;

  p {
    padding-left: 5px;
    border-top: var(--primary-color) solid 1px;
    cursor: pointer;

    &:last-of-type {
      border-bottom: var(--primary-color) solid 1px;
    }
  }
}

.actions-block {
  z-index: 2;
  position: absolute;
  top: 0;
  right: -30%;
  width: 30%;
  @apply flex items-center bg-white rounded border
    border-primary-color;

  p {
    margin-left: 5px;
  }

  &:not(:first-of-type) {
    @apply mt-5;
  }
}

.modal-window {
  position: absolute;
  top: 10vw;
  width: 60vw;
  left: 20vw;
  z-index: 3;
  @apply bg-white border border-primary-color rounded-md;
}

.modal-window__info {
  @apply flex justify-between;
}

.modal-window__data-block {
  @apply pl-20;
}

.modal-window__close-block {
  position: relative;
  @apply py-5 bg-primary-color;
}

.modal-window__activity-block {
  width: 40%;
  @apply bg-slate-400;
}

.modal-window__name-block {
  @apply flex justify-between pt-4;
}

.modal-window__name {
  @apply text-3xl font-bold;
}

.modal-window__edit-block {
  @apply border border-primary-color rounded-md px-6 py-2 ml-32;
}

.edit {
  @apply border border-primary-color rounded-md;
}

.modal-window__details {
  @apply flex mt-5;
}

.modal-window__details-title {
  width: 40%;
  @apply flex items-center whitespace-nowrap;
}

.modal-window__data {
  @apply flex justify-start text-start;
}

.modal-window__description-block {
  @apply mt-5;
}

.modal-window__status {
  position: relative;
}

.modal-window__data {
  position: relative;
}

.modal-window__status-change {
  position: absolute;
  width: 10vw;
  z-index: 2;
  top: 20px;
  cursor: pointer;
  @apply bg-slate-300;
}

.modal-window__priority-change {
  z-index: 2;
  position: absolute;
  cursor: pointer;
  @apply bg-slate-300;
}

.modal-window__description {
  width: 90%;
  height: 70%;
}

.react-calendar {
  width: 40%;
}

.close {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20%;
  left: 95%;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 20px;
    @apply bg-white;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}
